.render-panel {
    text-align: center;
}

.fps-label {
    margin-left: 20px;
    margin-top: 20px;
}

.start-button {
    margin-left: 10px;
    margin-top: 10px;
}

.description-label {
    margin-top: 20px;
    margin-left: 20px;
}

.middle-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}