@media screen and (min-width: 322px) and (max-width: 760px) and (min-height: 650px)
{
    .algorithm-info {
        top: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 761px)
{
    .algorithm-info {
        bottom: 10px;
    }
}

.algorithm-info {
    padding: 25px;
    max-width: 500px;
    position: fixed;
    left: 10px;
}

.works-button {
    margin-top: 30px;
}

.home {
    width: 100%;
    height: 100%;
}

.home-links {
    margin-top: 90px;
}

.fps-info {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 25px;
}